 
 *{box-sizing:border-box;}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 }  

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

  header {
    justify-content: center;
      background-color: blueviolet;
      padding: 20px;
      text-align: center;
      color: white;
      flex-direction: row;
      
  }

  .container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0px;
    width: 100%;
    padding: 80px 80px;

  }

  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black
}

#Preparacion_Academica{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0PX 0PX; 
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
}

footer .container{
  justify-content: center;
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
  padding: 0px 0px;
  margin: 0px 0px;
}

.container-herramientas {
  justify-content: center;
  align-items: center;
  display: flex;
  
  flex-direction: column;
}
.container-cartas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row ;
  background-position: center, center;
  background-size: cover;
  padding: 50px;
  margin: 30px;
  border-radius: 15px;
}
.cartas{
  justify-content: center;
  align-items: center; 
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
  background-position: center, center;
  background-size: cover;
  padding: 50px;
  margin: 30px;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
img{
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

footer{
  justify-content: center;
}
